# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
.factorypath

# Almacenamiento temporal EFS en desarrollo local
efs-local/

# Sistema
.DS_Store

# Logs
*.log
